<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
</head>
<body>
    <button id="retourButton">Retour</button>
    <iframe id="modalIframe" src="../projects/cmdkhgmws/cmdkhgmws.html"></iframe>
    <style>
        /* Style the modal */
        body {
            margin: 0;
            overflow: hidden;
        }
        #modalIframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        #retourButton {
            top: 10px;
            left: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</body>
</html>
